<html>
   {% load staticfiles %}

   
   <link href="{% static "tilda/css/style.css" %}" rel="stylesheet" type="text/css" />

<div class="wrapper">
<button id="new">+</button>

<main class="blog">

{% for item in all_items %}
    <article style="border-right:15px solid {{item.color}};">
    
      <!--raw onClick="this.contentEditable='true';">{{ item.note }}</raw-->
      <div class="note" id="{{ item.id }}">
      	<textarea autocomplete="off" class="markdown hidden">
  	    	 {{ item.note }} 
  	    </textarea>
  	    <div class="rendered">
  	    	
  	    </div>

        <!--div class="marker" style="background-color: {{item.color.color_code}}"></div-->

        <div class="colors hidden">
          <button class="change_color" style="background-color:#ff0000"></button> 
          <button class="change_color" style="background-color:#00ff00"></button> 
          <button class="change_color" style="background-color:#0000ff"></button> 
          <button class="change_color" style="background-color:#ffff00"></button> 
          <button class="change_color" style="background-color:#000000"></button> 
        </div>

        <button class="edit">edit</button>
        <button class="close hidden">save</button>

      </div>
      
    
    </article>


{% endfor %}
</main>
</div>

<script src="https://cdn.rawgit.com/showdownjs/showdown/1.3.0/dist/showdown.min.js"></script>
<script src="{% static "tilda/js/jquery-1.11.3.js" %}"></script>
<script src="{% static "tilda/js/script.js" %}"></script>



</html>